<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SavePurchase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AF23F151EE8070B008B4C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AF23F2E1EE8070C008B4C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AF23F391EE8070C008B4C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
